/* src/App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Arial', sans-serif; /* Change font-family globally */
  background-color: #f0f0f5;
}

/* Center the content both vertically and horizontally */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f0f0f5; /* Light background color */
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Form width */
  text-align: center; /* Center text inside form */
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 24px;
  color: #333;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  text-align: left;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

button {
  background-color: #0e0ec5;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #0e0ec5;
}

p {
  margin-top: 1rem;
}

a {
  color: #0e0ec5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Password Strength Styling */
.password-strength {
  margin-top: -0.75rem;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #666;
}

.password-strength.weak {
  color: #f00;
}

.password-strength.moderate {
  color: #f90;
}

.password-strength.strong {
  color: #0f0;
}

.password-strength.very-strong {
  color: #00f;
}
